# SQLITE3
* Using my sqlite database to run

#### Import Libraries

In [1]:
import sqlite3
import mysql.connector
import pymongo
import pandas as pd

###### Create a database that will hold the the tables and documents

In [2]:
con = sqlite3.connect('demployees.db')

###### Put the database in a cursor holder

In [4]:
cursor = con.cursor()

###### create a table in the cursor folder

In [5]:
cursor.execute("CREATE TABLE HR(id integer PRIMARY KEY, name text, status text, salary real, department text, position text, hireDate text)")
con.commit()

OperationalError: table HR already exists

###### create a counter

In [ ]:
counter = True
while counter:
    user_id = int(input('Enter your ID: '))
    name = input('Enter your name: ')
    status = input('Enter your status: ')
    salary = float(input('Enter your salary: '))
    department = input('Enter your department: ')
    position = input('Enter your position: ')
    date = input('Enter date "YYYY-M-D": ')
    entities = (user_id,name,status,salary,department,position,date)
    cursor.execute("INSERT INTO HR(id,name,status,salary,department,position,hireDate) VALUES(?,?,?,?,?,?,?)",entities)
    con.commit()
    print('Data has been inserted!!!')
    print('Do you want to continue?')
    value = int(input("Enter 1 to continue and 0 to quit"))
    if value == 1:
        pass
    elif value == 0:
        print('Thank you!!')
        counter = False
    else:
        break

###### fetch all the data in your HR table and print in rows and add row numbers

In [6]:
cursor.execute('SELECT * FROM HR')
rows = cursor.fetchall()

In [7]:
for row in rows:
    print(row)
    print(row[0])

(1, 'Chika Ike', 'Married', 200000.0, 'Engineering', 'Software Engineer', '2021-6-01')
1
(2, 'Bobby Gold', 'Single', 250000.0, 'Engineering', 'Product Manager', '2021-6-01')
2
(3, 'Chisom Okorie', 'Single', 200000.0, 'Sales', 'Business Development Officer', '2021-6-1')
3
(4, 'Nelson White', 'Single', 300000.0, 'Operations', 'Chief Operation Officer', '2021-6-1')
4
(5, 'Humphrey Cole', 'Married', 400000.0, 'Finance', 'Chief Finance Officer', '2021-6-1')
5

###### put in list, 
* add the list to a dictionary in rows and print dictionary

In [8]:
mylist = []

In [9]:
for row in rows:
    mylist.append({'id':row[0], 'name':row[1], 'status':row[2], 'salary':row[3], 'department':row[4], 'position':row[5], 'data':row[6]})

In [10]:
print(mylist)

[{'id': 1, 'name': 'Chika Ike', 'status': 'Married', 'salary': 200000.0, 'department': 'Engineering', 'position': 'Software Engineer', 'data': '2021-6-01'}, {'id': 2, 'name': 'Bobby Gold', 'status': 'Single', 'salary': 250000.0, 'department': 'Engineering', 'position': 'Product Manager', 'data': '2021-6-01'}, {'id': 3, 'name': 'Chisom Okorie', 'status': 'Single', 'salary': 200000.0, 'department': 'Sales', 'position': 'Business Development Officer', 'data': '2021-6-1'}, {'id': 4, 'name': 'Nelson White', 'status': 'Single', 'salary': 300000.0, 'department': 'Operations', 'position': 'Chief Operation Officer', 'data': '2021-6-1'}, {'id': 5, 'name': 'Humphrey Cole', 'status': 'Married', 'salary': 400000.0, 'department': 'Finance', 'position': 'Chief Finance Officer', 'data': '2021-6-1'}]

###### put the data list into a dataframe and print

In [11]:
sqlite3_df = pd.DataFrame(mylist)

In [12]:
print(sqlite3_df)

   id           name   status    salary   department  \
0   1      Chika Ike  Married  200000.0  Engineering
1   2     Bobby Gold   Single  250000.0  Engineering
2   3  Chisom Okorie   Single  200000.0        Sales
3   4   Nelson White   Single  300000.0   Operations
4   5  Humphrey Cole  Married  400000.0      Finance

                       position       data
0             Software Engineer  2021-6-01
1               Product Manager  2021-6-01
2  Business Development Officer   2021-6-1
3       Chief Operation Officer   2021-6-1
4         Chief Finance Officer   2021-6-1

# MYSQL Data Source

* using xampp to run and Myphp to view

###### link to the sql connector

In [ ]:
mydb = mysql.connector.connect(host="localhost",user="root",password="")

In [ ]:
mydb

In [ ]:
cursor = mydb.cursor()

###### steps to creating table
* create a database and 
* connect the database to the sql connector 
* create a cursor for the database
* creating a table in the cursor

In [ ]:
cursor.execute("CREATE DATABASE allemployees")

In [ ]:
mydb = mysql.connector.connect(host="localhost",user="root",password="",database="allemployees")

In [ ]:
cursor = mydb.cursor()

In [ ]:
cursor.execute("CREATE TABLE IT (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), status VARCHAR(255), salary INT, department VARCHAR(255), position VARCHAR(255), high_date VARCHAR(255))")
mydb.commit()

###### create a counter

In [ ]:
counter = True
while counter:
    name = input('Enter your name: ')
    status = input('Enter your status')
    salary = int(input('Enter your salary: '))
    department = input('Enter your department: ')
    position = input('Enter your position: ')
    date = input('Enter date "YYYY-M-D": ')
    vals = (name,status,salary,department,position,date)
    sql = "INSERT INTO IT(name,status,salary,department,position,high_date) VALUES(%s,%s,%s,%s,%s,%s)"
    cursor.execute(sql,vals)
    mydb.commit()
    print('Data has been inserted!!!')
    print('Do you want to continue?')
    value = int(input("Enter 1 to continue and 0 to quit"))
    if value == 1:
        pass
    elif value == 0:
        print('Thank you!!')
        counter = False
    else:
        break

###### fetch all the data in your IT table 
* add list
* add list in dictionary
* print dictionary in DataFrame

In [ ]:
cursor.execute("SELECT * FROM IT")
rows = cursor.fetchall()

In [ ]:
mylist = []

In [ ]:
for row in rows:
    mylist.append({'id':row[0], 'name':row[1], 'status':row[2], 'salary':row[3], 'department':row[4], 'position':row[5], 'data':row[6]})

In [ ]:
mysql_df = pd.DataFrame(mylist)
mysql_df

# Mongo Data Source
* using Mongo compass to run

###### initialize a mongo connection

In [ ]:
myclient = pymongo.MongoClient('mongodb://localhost:27017')

###### steps
* Create a database
* Create a table in the database
* add necessary columns

In [ ]:
mydb = myclient['allemployees']

In [ ]:
mycol = mydb['transactions']

In [ ]:
columns = ["id","name","product","amount","saleprice","status","date"]

###### create a counter

In [ ]:
counter = True
while counter:
    user_id = input("Id: ")
    name = input("Name: ")
    product= input("Product: ")
    amount = int(input("Amount: "))
    saleprice = float(input("Saleprice: "))
    status = input("Status: ")
    date = input("Date YYYY-M-D: ")

    mydict = {"_id":user_id,"name":name,"product":product,"amount":amount,"saleprice":saleprice,"status":status,"date":date}
    x = mycol.insert_one(mydict)

    print('Data has been inserted!!!')
    print('Do you want to continue?')
    value = int(input("Enter 1 to continue and 0 to quit: "))
    if value == 1:
        pass
    elif value == 0:
        print('Thank you!!')
        counter = False
    else:
        break

###### same with previous steps in sql but different approach
###### fetch all the data in your Transaction table 
* call all data in a column and run in x or any letter of your choice
* add list
* pass the data in the x runned earlier
* append the data into the list
* add list in dictionary
* print dictionary in DataFrame

In [ ]:
x = mycol.find()
x

In [ ]:
mylist = []

In [ ]:
for data in x:
    mylist.append(data)
    print(data)

In [ ]:
print(mylist)

In [ ]:
mongoDB_df = pd.DataFrame(mylist)
mongoDB_df

###### create a new column called total that multiplies the amount and the sales price

In [ ]:
mongoDB_df['total'] = mongoDB_df['amount'] * mongoDB_df['saleprice']
mongoDB_df

# Pull data Together
###### pull all the dataframes created
* The sql daraframe
* the sqllite3 dataframe
* the mongodb dataframe

In [ ]:
mysql_df

In [ ]:
sqlite3_df

In [ ]:
mongoDB_df

# Create a Data Warehouse (Using MySQL)

* N.B. MySQL is ran by xampp and MyPhp in browser -- localhost

###### Connect to MySQL Server

In [ ]:
mydb = mysql.connector.connect(host="localhost",user="root",password="")

###### Create a Cursor object for ex

In [ ]:
cursor = mydb.cursor()

###### Create Database warehouse in MySQL

In [ ]:
cursor.execute("CREATE DATABASE datawarehouse")

###### Connect to MySQL Server Datawarehouse

In [ ]:
mydb = mysql.connector.connect(host="localhost",user="root",password="",database='datawarehouse')

###### Create a Cursor object for Datawarehouse

In [ ]:
cursor = mydb.cursor()

# Load Functions for MySQL

* table_name from created tables in each database
* load created dataframe into dictionary
* insert each table entity into the sql
* load data from each table entity counter

In [ ]:
def create_table(table_name):
    cursor.execute(f"CREATE TABLE {table_name} (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), status VARCHAR(255), salary INT, department VARCHAR(255), position VARCHAR(255), high_date VARCHAR(255))")
    mydb.commit()

In [ ]:
def convert_dataframe(dataframe):
    data_dict = dataframe.to_dict()
    return data_dict

In [ ]:
def insert_query(table):
    sql = f"INSERT INTO {table}(name,status,salary,department,position,high_date) VALUES(%s,%s,%s,%s,%s,%s)"
    return sql

In [ ]:
def load(data_dict,sql):
    counter = len(data_dict["name"].values())-1

    while counter >= 0:
        global name
        name = data_dict['name'][counter]
        global status
        status = data_dict['status'][counter]
        global salary
        salary = data_dict['salary'][counter]
        global department
        department = data_dict['department'][counter]
        global position
        position = data_dict['position'][counter]
        global date
        date = data_dict['data'][counter]
        vals = (name,status,salary,department,position,date)
        cursor.execute(sql,vals)
        mydb.commit()

        counter -= 1
        if counter == 0:
            print("All data has been inserted!!!")

# Load Function for MongoDB

* table_name from created tables in each database
* insert each table entity into the sql
* load data from each table entity counter

In [ ]:
def create_table_mdb(table_name):
    cursor.execute(f"CREATE TABLE {table_name} (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), product VARCHAR(255), amount INT, saleprice INT, status VARCHAR(255), date VARCHAR(255), total VARCHAR(255))")
    mydb.commit()

In [ ]:
def insert_query_mdb(table):
    sql = f"INSERT INTO {table}(name,product,amount,saleprice,status,date,total) VALUES(%s,%s,%s,%s,%s,%s,%s)"
    return sql

In [ ]:
def load_mdb(data_dict,sql):
    counter = len(data_dict["name"].values())-1

    while counter >= 0:
        global name
        name = data_dict['name'][counter]
        global product
        product = data_dict['product'][counter]
        global amount
        amount = data_dict['amount'][counter]
        global saleprice
        saleprice = data_dict['saleprice'][counter]
        global status
        status = data_dict['status'][counter]
        global date
        date = data_dict['date'][counter]
        global total
        total = data_dict['total'][counter]
        vals = (name,product,amount,saleprice,status,date,total)
        cursor.execute(sql,vals)
        mydb.commit()

        counter -= 1
        if counter == 0:
            print("All data has been inserted!!!")

###### At this point each table for each database has been created in the Datawarehouse. Next step is to store all the datasource of each database into it's own placeholder

# MySQL Table in Datawarehouse to store MySQL data source

* create table
* passed saved dataframe into a database dictionary
* load dictionary and table

In [ ]:
create_table("IT")

In [ ]:
mysql_dict = convert_dataframe(mysql_df)
mysql_dict.pop('id')
mysql_dict

In [ ]:
sql = insert_query("IT")
load(mysql_dict,sql)

# SQLITE3 Table in Datawarehouse to store SQLite3 data source

* create table
* passed saved dataframe into a database dictionary
* load dictionary and table

In [ ]:
create_table("HR")

In [ ]:
sqlite3_dict = convert_dataframe(sqlite3_df)
sqlite3_dict.pop("id")
sqlite3_dict

In [ ]:
sql = insert_query("HR")
load(sqlite3_dict,sql)

# MongoDB Table in Datawarehouse to store MongoDB data source

* create table
* passed saved dataframe into a database dictionary
* load dictionary and table

In [ ]:
create_table_mdb("transactions")

In [ ]:
mongodb_dict = convert_dataframe(mongoDB_df)
mongodb_dict.pop("_id")
mongodb_dict

In [ ]:
sql = insert_query_mdb("transactions")
load_mdb(mongodb_dict,sql)

##### By now, all tables with data's will have been stored in the datawarehouse.
* Go to localhost on browser,
* click on MyPhp 
* click on the newly created datawarehouse or whatever name you saved your combined database
* each indib